{% extends 'base.html' %}

{% block conteudo %}
<div class="title">
    <h1>Bem-vindo a Biblioteca</h1>
</div>

<div class="content">
    <p>Projeto de banco de dados para gerenciar livros, usuários e empréstimos. Permite cadastrar, consultar e controlar o acervo da biblioteca de forma simples e eficiente.</p>
</div>

<h1>O que você deseja gerenciar?</h1>

<div class="buttons">
    <ul>
        <a href="">Empréstimos</a>
        <a href="">Livros</a>
        <a href="">Usuários</a>
        <a href="">Editoras</a>
        <a href="">Autores</a>
        <a href="">Gêneros</a>
    </ul>
</div>
{% endblock %}
